
body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  padding-right: 500px;
}


.single-product-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.product-image {
  width: 500px; /* Width of the box */
  height: 500px; /* Height of the box */
  margin-right: 20px;
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  overflow: hidden; /* Hide parts of the image that overflow the box */
  border: 1px solid #ddd; /* Optional: adds a border to the box */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the entire image is visible and touches the box edges */
}
.product-details {
  flex-grow: 1;
}

.product-details h1 {
  margin-top: 0; /* Adjust as needed */
}

.form-group {
  display: flex; /* Use flex to align form elements */
  flex-direction: column; /* Stack them vertically */
  align-items: center; /* Center-align the form elements */
  margin-bottom: 20px; /* Provide space for the flash message */
}

.quantity-selector {
  /* Style for the quantity input if needed */
  margin-right: 10px; /* Space between the input and the button */
}



.flashes {
    text-align: center; /* Center the text inside the container */
    width: auto; /* Auto width based on content */
    margin-top: 10px; /* Space above the flash message container */
}

.flashes div {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb; /* Light red border */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: Adds a shadow for better visibility */
  display: inline-block; /* Only as wide as its content */
}

